#header {
    .bord {border: 1px solid red;}

    .slide1 {
        width: 400px;
        top: 15%;
        bottom: 15%;
        left: 50%;

        h1 {
            height: 90px;

            text-align: left;
            font-size: 9rem;
            letter-spacing: 3px;
            margin-bottom: 0;
        }
        h3 {
            padding-left: 5px;

            text-align: left;
            font-size: 3rem;
            margin-top: 0;
            letter-spacing: 5px;
        }
        p {
            font-size: 12px;
            text-align: left;
            margin-top: 40px;
            padding-left: 5px;
        }
        .btn_store {
            display: inline-block;
            float: left;
            margin-top: 35px;
            text-decoration: none;
            padding: 10px 30px;
            color: #fff;
            background-color: #fbb03b;
            border: none;
            border-radius: 30px;
            font-size: 14px;

        }
    }
    /* Animation delays */
.carousel-caption h3:first-child {
	animation-delay: 2s;
}
.carousel-caption h3:nth-child(2) {
	animation-delay: 3s;
}
.carousel-caption button {
	animation-delay: 1s;
}
}