.container-fluid
    border-top 5px solid #feb23a
    padding-left 0px
    padding-right 0px

    .navbar-default
        
        background #2d2d2d
        // background-color transparent
        border-color transparent
        font-weight 200
        text-transform uppercase
        margin 0


    a.navbar-brand
        margin-left 75px 
        margin-right 80px
        background-image url('/images/logo.png')
        background-size 200px
        width 200px
        background-repeat no-repeat
        background-position center center
        margin-top 10px
        margin-bottom 10px
        
    .navbar-nav > li > a
        margin-top 20px
        padding-right 30px
        padding-top 20px
        font-size 20px
        color #afaeae
        transition 300ms
    
    .navbar-nav > li > a:hover
        transition: 500ms;
        transform: scale(1.2);
        
        color: #fff;
        background: none;
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
    	background-color transparent
 

    .navbar-default .navbar-nav > li > a.shopping-cart
        background-image url('/images/carticon.png')
        background-repeat no-repeat
        background-position left center
        min-height 40px
        background-size 24px auto
        text-align center
        padding-left 32px
        padding-right 0px
        
        font-size 16px
        color #afaeae
        // color #afaeae
        // font-size 1.7rem
        
        &:visited
            color #656565
        
        &:active
            color #656565
        
        .shopping-cart-label
            display inline-block
            vertical-align middle
                
        .shopping-cart-count
            display inline-block
            vertical-align middle
            background-color #59b1ca
            color white
            width 24px
            height 24px
            border-radius 12px
            text-align center
            font-size 14px
            line-height 24px
            margin-left 6px
                

 