extends ../layouts/default

block content
	.container
		.row
			each product in data.products.results
				.col-sm-6.col-md-4
					.myproduct
						.myproduct_image
							if product.image.exists
								.img_product: a(href='/product/' + product.slug): img(src=product._.image.fit(500,500)).img-responsive
						.text_product
						h3
							.products_title(href='/product/' + product.slug)= product.title
							.products-price= numeral(product.price).format('$0,0.00')
							.btn_addtocart(href='#', role='button') Add To Cart